<section class="content-header">
    <h1>
        数据挖掘
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-folder-open"></i> 数据挖掘</a></li>
        <li><a href="#">挖掘配置</a></li>
    </ol>
</section>
<section class="content" id="digging-content">
    <div class="row">
        <div class="col-lg-8">
            <%- include('modules/model_selector.ejs', {selector: page.content['model-selector']}); %>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <%- include('modules/order_selector.ejs', {selector: page.content['fields-selector']}); %>
        </div>
    </div>
</section>