<section class="content-header">
    <h1>
        数据挖掘
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-folder-open"></i> 数据挖掘</a></li>
        <li><a href="#">挖掘配置</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <%- include('modules/order_selector.ejs', {selector: page.content['selector']}); %>
        </div>
    </div>
    <script type="text/javascript">
        var model_selected = "apriori";
    </script>
</section>