<section class="content-header">
    <h1>
        数据挖掘
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-folder-open"></i> 数据挖掘</a></li>
        <li><a href="#">挖掘配置</a></li>
    </ol>
</section>
<section class="content" id="digging-content">
    <%- include('modules/digging_group.ejs', {selector: page.content['digging-group']}); %>
    <div class="row">
        &nbsp;
    </div>
</section>