<section class="content-header">
    <h1>
        数据转换
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-bar-chart"></i> 数据展示</a></li>
        <li><a href="#">总览</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary" id="data-selector-box">
                <div class="box-header">
                    <h3 class="box-title">数据集选择</h3>
                </div>
                <div class="box-body">
                    <div id="data-selector" source="/data">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8" id="charts-col">
        </div>
    </div>
</section>