<section class="content-header">
    <h1>
        数据转换
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-random"></i> 数据转换</a></li>
        <li><a href="#">总览</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <%- include('modules/tree_selector', {tree: page.content['exchange-selector']}); %>
        </div>
        <div class="col-md-8">
            <%- include('modules/table.ejs', {table:  page.content['exchanging-table']}); %>
            <%- include('modules/table.ejs', {table:  page.content['tmp-table']}); %>
        </div>
    </div>
</section>