<!DOCTYPE html>
<html lang="zh-cn">
<%- include('modules/head.ejs', {page: page}); %>
<body>
    <div class="container">
        <%- include('modules/navbar.ejs', {page: page}); %>
    </div>
</body>
<%- include modules/js.ejs %>
</html>