<!DOCTYPE html>
<html lang="zh-cn">
<%- include('modules/head.ejs', {page: page}); %>
<body class="skin-blue sidebar-collapse sidebar-mini">
<div>
    <header class="main-header">
        <%- include('modules/navbar.ejs', {page: page}); %>
    </header>
    <aside class="main-sidebar">
        <%- include('modules/sidebar.ejs', {page: page}); %>
    </aside>
</div>
</body>
<%- include modules/js.ejs %>
</html>