<section class="content-header">
    <h1>
        元数据管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dollar"></i> 元数据管理</a></li>
        <li><a href="#">总览</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <%- include('modules/json_table.ejs', {table: page.content['datasets-table']}); %>
        </div>
    </div>
</section>