<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include css.ejs %>
    <!-- link rel='stylesheet' href='/stylesheets/style.css'/ -->
</head>
<body>
<div class="container">
    <% include navbar.ejs %>
    <div class="row">
        <h3><i class="fa fa-database"></i> Data Management</h3>
    </div>

    <div class="row panel-body">
        <div class="row">&nbsp;</div>
        <%
        for (i=0; i<locals.models.length; ++i) {
            var count = i;
            var id = locals.models[i].id;
            var name = locals.models[i].name;
            var comment = locals.models[i].comment;
            var icon = locals.models[i].icon;
            var panel_type = locals.models[i].panel_type;

            var name_words = name.split(" ");
            if ( name_words.length > 3 ) {
                name_words[2] = "...";
            }

            name = "";

            for (j=0; j<Math.min(3, name_words.length); ++j) {
                if (j != 0) {
                    name += " ";
                }
                if (name_words[j].length > 12) {
                    name += name_words[j].slice(0, 6) + "...";
                } else {
                    name += name_words[j];
                }
            }

            var is_last = false;
            if (i==locals.models.length-1) {
                is_last = true;
            }
        %>
        <%- include('panel', {is_last: is_last, count: count, id: id, name: name, comment: comment, icon: icon, panel_type: panel_type}); %>
        <%
        }
        %>
    </div>

</div>
</body>
<% include js.ejs %>
</html>
