<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include css.ejs %>
    <!-- link rel='stylesheet' href='/stylesheets/style.css'/ -->
</head>
<body>
<div class="container">
    <% include navbar.ejs %>
    <div class="row">
        <h3><i class="fa fa-crop"></i> Data Mining Modules</h3>
    </div>

    <div class="row panel-body">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-compress fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">FP-Growth</div>
                                <div>Frequent itemset mining algorithm</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-folder-open fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">Machine Learning</div>
                                <div>Folder of machine learning</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<% include js.ejs %>
</html>
