<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../css.ejs %>
    <!-- link rel='stylesheet' href='/stylesheets/style.css'/ -->
</head>
<body>
<div class="container">
    <% include ../navbar.ejs %>
    <div class="row">
        <h3><i class="fa fa-database"></i> Data Management - - <%= uid %></h3>
    </div>

</div>
</body>
<% include ../js.ejs %>
</html>